<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>Sử dụng Bootstrap</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="carousel slide" data-bs-ride="carousel" id="carouselExample">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="square-image">
              <img
                alt="Product Image"
                class="product-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2">
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                alt="Product Image"
                class="product-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2">
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                alt="Product Image"
                class="product-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2">
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                alt="Product Image"
                class="product-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2">
            </div>
          </div>
          <div class="carousel-item">
            <div class="square-image">
              <img
                alt="Product Image"
                class="product-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1260&dpr=2">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExample" type="button">
          <span aria-hidden="true" class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExample" type="button">
          <span aria-hidden="true" class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="thumbnail-container">
          <div class="thumbnail-item active">
            <img
              alt="Thumbnail Image"
              class="thumbnail-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
          </div>
          <div class="thumbnail-item">
            <img
              alt="Thumbnail Image"
              class="thumbnail-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
          </div>
          <div class="thumbnail-item">
            <img
              alt="Thumbnail Image"
              class="thumbnail-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
          </div>
          <div class="thumbnail-item">
            <img
              alt="Thumbnail Image"
              class="thumbnail-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
          </div>
          <div class="thumbnail-item">
            <img
              alt="Thumbnail Image"
              class="thumbnail-image" src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2>Thông tin chi tiết sản phẩm</h2>
        <p>Mô tả sản phẩm</p>
        <p>Giá: $99</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
        <div class="product-quantity">
          <div class="border-wrapper">
            <button>-</button>
            <input type="text" value="1">
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
