<app-header></app-header>
<div class="container">
  <form #loginForm="ngForm">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <h2 class="login-header">Đăng nhập</h2>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input [(ngModel)]="login.phone_number"
                   class="form-control"
                   id="email"
                   name="phone_number"
                   type="text">
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group password-field">
            <label for="password">Mật khẩu</label>
            <input [(ngModel)]="login.password" class="form-control"
                   id="password"
                   name="password"
                   placeholder="Ít nhất 3 ký tự"
                   type="password"
            >
            <i class="password-toggle fas fa-eye-slash"></i>
            <div class="divider-nospace"></div>
          </div>
          <div class="form-group">
            <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input class="form-check-input" id="remember" type="checkbox">
                            <label class="form-check-label text-start" for="remember">
                                Ghi nhớ đăng nhập</label>
                        </span>
              <a class="register-link" href="#">Quên mật khẩu</a>
            </div>
          </div>
          <div class="form-group">
            <select class="form-control access-right">
              <option disabled selected>Quyền đăng nhập</option>
              <option>Người dùng</option>
              <option>Quản trị viên</option>
            </select>
          </div>
          <button (click)="login_button()" class="login-button" type="button">Đăng nhập</button>
          <div class="divider"></div>
          <p class="text-center">Bạn chưa đăng ký? <span>
                    <a class="register-link" href="#">Tạo tài khoản</a></span></p>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
